
.text1 {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }

  

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}